.caches
.drone.sec.yml
.DS_Store
.eslintcache
.idea
.project
.vscode
!.vscode/extensions.json
!.vscode/settings.json
*.json.gzip
*.log
node_modules
npm-debug.log
source-context.json
source-contexts.json
.env
.envrc
report.*.json
[._]*.sw[a-p]
coverage/
Icon?
notes.md
responses/httpbin
